@import 'copy-code';

%code-inline {
  background: var(--highlight-background);
  color: var(--highlight-foreground);
}

%code-block {
  @extend %code-inline;
  line-height: $line-height-code-block;
  margin: 0 auto 20px;
}

pre {
  padding: 10px;
  margin: 0;
}

pre, code {
  font-family: $code-font-family;
}


kbd {
  @extend %code-inline;
  border: 2px solid $grey-light;
  border-radius: .2em;
  box-shadow: .1em .1em .2em rgba(0, 0, 0, .1);
  font-family: inherit;
  padding: .1em .3em;
  white-space: nowrap;
}