# Ignore files in Hugo NexT theme

exampleSite/*

# Exclude special files in content folder
exampleSite/content/**/
!exampleSite/content
!exmapleSite/content/about.md
!exampleSite/content/archives
!exampleSite/content/post

# Exclude special files in data folder
!exampleSite/data

# Exclude special files in layouts folder
!exampleSite/layouts

# Exclude special files in static folder
!exampleSite/static

# Exclude special files
!exampleSite/config.yaml
!exampleSite/startup.sh

data/*
!data/config.yaml
!data/resources.yaml

# vscode
.vscode/
