{{ $pageCfg := dict
  "isHome"    .IsHome
  "isPage"    .IsPage
  "comments"  (.Scratch.Get "isComment")
  "permalink" (.Page.Permalink | absURL)
  "path"      (.Page.Permalink | path.Base)
  "title"     .Page.Title
}}

{{/* Append waline pageview & comment plugin */}}
{{ with .Site.Params.postMeta.views }}
  {{ if and .enable (ne .plugin "busuanzi") }}
    {{ $plugin := .plugin }}
    {{ $counter := dict
      "pagecnt" (index ($.Site.Data.resources.plugins) $plugin "js" 0)
    }}
    {{ $pageCfg = merge $pageCfg (dict $plugin $counter) }}
  {{ end }}
{{ end }}

{{ with .Site.Params.postMeta.comments }}
  {{ if .enable }}
    {{ $plugin := .plugin }}
    {{ $counter := dict
      "commentcnt" (index ($.Site.Data.resources.plugins) $plugin "js" 1)
    }}
    {{ $pageCfg = merge $pageCfg (dict $plugin $counter) }}
  {{ end }}
{{ end }}

{{/* Append mermaid plugin */}}
{{ if .Params.mermaid }}
{{ $mermaid := dict
  "js"  .Site.Data.resources.plugins.mermaid.js
}}
{{ $pageCfg = merge $pageCfg (dict "mermaid" $mermaid) }}
{{ end }}

{{/* Append math render plugin */}}
{{ with or .Params.math .Site.Params.math }}
{{ $math := dict
  "render" .
  "js"  (index $.Site.Data.resources.plugins .).js
}}

{{ if eq . "katex" }}
  {{ $math = merge $math ( dict "css" $.Site.Data.resources.plugins.katex.css ) }}
{{ end }}

{{ $pageCfg = merge $pageCfg (dict "math" $math) }}
{{ end }}

<script class="next-config" data-name="page" type="application/json">{{ $pageCfg }}</script>