/** User-defined style. **/
{{ $P := .Site.Params -}}

{{- with $P.sidebar -}}
{{- $width := (int (math.Max .width 240)) -}}
{{- $offset := (int (math.Max .offset 12)) -}}
{{- $padding := (int (math.Max .padding 18)) -}}
{{- $positPad := (add $width $offset) }}
.main {
{{ if eq .position "right" }}
  flex-direction: row-reverse;
{{- end }}
}
.header-inner {
  width: {{ $width }}px;
}
.main-inner {
  width: calc(100% - {{ $positPad }}px);
}
.sidebar {
  width: {{ $width }}px;
  visibility: inherit;
}
.sidebar-inner {
  padding: {{ $padding }}px 10px;
}
.footer-inner {
  padding-{{ .position }}: {{ $positPad }}px;
}
{{- end }}

.site-author-image {
{{- if $P.avatar.rounded }}
  border-radius:50%;
{{- end }}
{{- if $P.avatar.rotated }}
  transition: transform 1s ease-out;
{{- end }}
}

.site-author-image:hover {
  transform: rotateZ(360deg);
}

.site-state-item {
  border-left: 1px solid #eee;
}
.site-state-item:first-child {
  border-left: none;
}

.rss-link {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  text-align: center;
  margin: 10px 0 0 0;
}

.rss-link a {
  display: block;
  color: #fc6423;
  border-bottom: none;
}

.rss-link a:hover {
  animation-name: wobble-vertical;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.rss-link a:hover > i {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.links-of-social a {
  font-size: 0.8125em;
}
.links-of-social .fa,
.links-of-social .fab,
.links-of-social .far,
.links-of-social .fas {
  margin-right: 2px;
}
.links-of-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.links-of-social-item {
  margin: 5px 0 0;
{{- if and $P.socialIcons.enable (not $P.socialIcons.iconsOnly) }}
  width: 50%;
{{- end }}
}
.links-of-social-item a {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.links-of-social-item a {
  border-bottom: 0;
  border-radius: 4px;
  display: block;
}
.links-of-social-item a:hover {
  background: var(--body-bg-color);
}

.cc-license {
{{ if eq $P.creativeCommons.size "big" }}
  margin-top: 10px;
{{ else }}
  margin-top: 5px;
{{- end }}
}

.back-to-top {
  bottom: 30px;
}

.posts-expand .post-meta-container {
  margin: 10px auto;
}

.post-meta-item-icon {
  margin: 0 0 0 -5px;
}

:not(.post-meta-break) + .post-meta-item::before {
    content: '|';
    margin: 0 0.3em;
}

.post-meta-catg:not(:last-child)::after {
  content: ';';
  margin: 0px;
}

.posts-expand .post-header {
  margin: 0;
}

.posts-expand .post-body {
  margin: 28px 0;
}

.post-footer-btn {
  text-align: center;
}

.beian img {
  display: inline-block;
  margin: 0 3px;
  vertical-align: middle;
}

.with-love {
{{- with $P.footer.icon.color }}
  color: {{ $P.footer.icon.color  }};
{{- end }}
{{- if $P.footer.icon.animated }}
  animation: icon-animate 1.33s ease-in-out infinite;
{{- end }}
}

/* Font Awesome */
.fa-spin {
  -webkit-animation: fa-spin .8s infinite linear;
  animation: fa-spin .8s infinite linear;
} 
