{{- if isset .Params "tags" }}
{{- if not (eq (len .Params.tags) 0) }}
<span class="post-meta-item">
  <span class="post-meta-item-icon">
    <i class="fa fa-tags"></i>
  </span>
  <span class="post-meta-item-text">{{- T "PostTag" }}{{- T "ColoneFlag"}}</span>
  <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
    {{- range (first 3 .Params.tags) }}
    <span class="post-meta-catg" itemprop="name">
      <a href="{{ . | urlize }}" itemprop="url" rel="index">{{ . }}</a>
    </span>
    {{- end }}
  </span>
</span>
{{- end }}
{{- end }}