{{ with .ctx }}
{{- if $.IsHome }} 
{{- if and .Site.Params.readMoreBtn (not .Params.Expand) }}
<div class="post-button">
  <a class="btn" href="{{ .Permalink }}#more" rel="contents">
    {{ T "PostReadMore" }} &raquo;
  </a>
</div>
{{- end }}
<div class="post-eof"></div>
{{- else }}
{{ partial "post/post_footer/tags.html" . }}
{{ partial "_thirdparty/share/addthis.html" . }}
<hr/>
{{ partial "post/post_footer/reward.html" . }}
{{ partial "post/post_footer/copyright.html" . }}
{{ partial "post/post_footer/followme.html" . }}
<div class="post-nav">
  <div class="post-nav-next post-nav-item">
    {{- with .NextInSection }}
    <a href="{{ .Permalink}}" rel="next" title="{{.Title}}">
      <i class="fa fa-chevron-left"></i> {{.Title}}
    </a>
    {{- end }}
  </div>
  <div class="post-nav-prev post-nav-item">
    {{- with .PrevInSection }}
    <a href="{{ .Permalink}}" rel="prev" title="{{.Title}}">
      {{.Title}}
      <i class="fa fa-chevron-right"></i>
    </a>
    {{- end }}
  </div>
</div>
{{- end }}
{{ end }}