{{- define "title" }}
{{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "AllSome" }} - {{ .Site.Title -}}
{{- end -}}
{{ define "main_inner_class" }}archive posts-collapse{{ end }}
{{- define "main" }}
<div class="post-block">
  <div class="post-content">
    <div class="collection-title">
      {{- $cheers := "Um" }}
      {{- $posts := .Scratch.Get "postsCount" }}
      {{- if and .Page.IsSection (ne .Section "archives") }}
        {{- $posts = .Scratch.Get .Section }}
      {{- end }}
      {{- if gt $posts 210 }}
      {{- $cheers = "Excellent" }}
      {{- else if gt $posts 130 }}
      {{- $cheers = "Great" }}
      {{- else if gt $posts 80 }}
      {{- $cheers = "Good" }}
      {{- else if gt $posts 50 }}
      {{- $cheers = "Nice" }}
      {{- else if gt $posts 30 }}
      {{- $cheers = "Ok" }}
      {{- end }}
      <span class="collection-header">
        {{- T (printf "PostArchiveCheers%s" $cheers) }}
        {{- T "SymbolComma" }}
        {{- T "ArchiveCounterTitle" $posts | safeHTML }}
        {{- T "SymbolComma" }}
        {{- T "PostArchiveKeepOn" }}
      </span>
    </div>

    {{ .Render "list" }} 
    
  </div>
</div>
{{- partial "pagination.html" . }}
{{- end }}