// All variables from site's config content. 
// In order not to conflict with the existing variables of SCSS and better identify, 
// add a cfg_ prefix before the variable name

{{- $P := .Site.Params -}}

// Base variables
$scheme: {{ default $P.scheme "Gemini" }};
$cfg_darkmode: {{ $P.darkmode }};

$cfg_thm_cor_light: {{ $P.themeColor.light }}; 
$cfg_thm_cor_dark: {{ $P.themeColor.dark }}; 

$cfg_font_enable: {{ default $P.font.enable false }}; 
$cfg_font_global_size: {{ default $P.font.global.size 1 }}; 
$cfg_font_headings_size: {{ default $P.font.headings.size 1 }}; 
$cfg_font_title_size: {{ default $P.font.title.size 1 }}; 
$cfg_font_codes_size: {{ default $P.font.codes.size 1 }}; 
$cfg_font_posts_size: {{ default $P.font.posts.size 1 }}; 

// TODO
$cfg_hl_light_bg: #222; 
$cfg_hl_light_fg: #000; 
$cfg_hl_dark_bg: #000; 
$cfg_hl_dark_fg: #222; 

$cfg_sidebar_width: {{ $P.sidebar.width }};
$cfg_sidebar_position: {{ $P.sidebar.position }};
$cfg_sidebar_padding: {{ default $P.sidebar.padding 18 }}; 
$cfg_sidebar_offset: {{ default $P.sidebar.offset 12 }}; 

// TODO
$cfg_note_light_bg_offset: 0;

// Scaffolding Variables
$cfg_bd_scrollbar_overlay: {{ $P.bodyScrollbar.overlay }};
$cfg_bd_scrollbar_stable: {{ $P.bodyScrollbar.stable }};

$cfg_codeblock_copy_btn_style: {{ $P.codeblock.copyBtn.style }};

$cfg_mermaid_enable: {{ $P.mermaid.enable }};

$cfg_note_style: {{ $P.note.style }};
$cfg_note_icons: {{ $P.note.icons }};

$cfg_pdf_enable: {{ $P.pdf.enable }};
$cfg_pdf_height: {{ $P.pdf.height }};

$cfg_tabs_trans_tabs: {{ $P.tabs.transition.tabs }};
$cfg_tabs_trans_labels: {{ $P.tabs.transition.labels }};

// Outline Variables
$cfg_footer_icon_color: {{ $P.footer.icon.color }};
$cfg_footer_icon_animated: {{ $P.footer.icon.animated }};

$cfg_footer_beian_enable: {{ $P.footer.beian.enable }};

$cfg_busuanzi_enable: {{ $P.busuanzi.enable }};
$cfg_busuanzi_visitors: {{ $P.busuanzi.visitors }};
$cfg_busuanzi_views: {{ $P.busuanzi.views }};

$cfg_bookmark_enable: {{ $P.bookmark.enable }};
$cfg_bookmark_color: {{ $P.bookmark.color }};

$cfg_github_banner_enable: {{ $P.githubBanner.enable }};

$cfg_local_search_enable: {{ $P.localSearch.enable }};
$cfg_algolia_search_enable: {{ $P.algoliaSearch.enable }};

$cfg_mobile_layout_economy: {{ $P.mobileLayoutEconomy }};

$cfg_note_icons: {{ $P.note.icons }};

$cfg_social_icons_only: {{ $P.socialIcons.iconsOnly }};

$cfg_avatar_rounded: {{ $P.avatar.rounded }};
$cfg_avatar_rotated: {{ $P.avatar.rotated }};

$cfg_toc_enable: {{ $P.toc.enable }};
$cfg_toc_wrap: {{ $P.toc.wrap }};
$cfg_toc_expand_all: {{ $P.toc.expandAll }};

$cfg_site_state: {{ $P.siteState }};

//
$cfg_back2top_enable: {{ $P.backTop.enable }};
$cfg_back2top_scrollpercent: {{ $P.backTop.scrollPercent }};
$cfg_back2top_sidebar: {{ $P.backTop.sidebar }};

$cfg_reading_progress_enable: {{ $P.readingProgress.enable }};
$cfg_reading_progress_color: {{ $P.readingProgress.color }};
$cfg_reading_progress_height: {{ $P.readingProgress.height }};
$cfg_reading_progress_reversed: {{ $P.readingProgress.reversed }};
$cfg_reading_progress_start: {{ $P.readingProgress.start }};
$cfg_reading_progress_position: {{ $P.readingProgress.position }};

