// CSS Style Guide: https://codeguide.co/#css


//$scheme : if(hexo-config('scheme'), hexo-config('scheme'), 'Muse');


// Variables Layer
// --------------------------------------------------
@import '_variables/base';
@import '"_variables/" + theme.scheme';
@import 'theme.injects.variable';

// Mixins Layer
// --------------------------------------------------
@import '_mixins';
@import 'theme.injects.mixin';

// Dark mode colors
// --------------------------------------------------
@import '_colors';

// Common Layer
// --------------------------------------------------

// Scaffolding
@import '_common/scaffolding';

// Layout
@import '_common/outline';

// Components
@import '_common/components';


// Schemes Layer
// --------------------------------------------------
@import '"_schemes/" + theme.scheme';


// Custom Layer
// --------------------------------------------------
@import 'theme.injects.style';
