/** User-defined style. **/
{{- $P := .Site.Params -}}
.sidebar {
  visibility: inherit;
}

.site-author-image {
{{ if $P.avatar.rounded }}
  border-radius:50%;
{{ end }}
{{ if $P.avatar.rotated }}
  transition: transform 1s ease-out;
{{ end }}
}

.back-to-top {
  bottom: 30px;
}

.rss-link {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  text-align: center;
  margin: 10px 0 0 0;
}

.rss-link a {
  display: block;
  color: #fc6423;
  border-bottom: none;
}

/* .rss-link a:hover {
  font-weight: bold;
} */
@keyframes wobble-vertical {
  16.65% {
    transform: translateX(8px);
  }

  33.3% {
    transform: translateX(-6px);
  }

  49.95% {
    transform: translateX(4px);
  }

  66.6% {
    transform: translateX(-2px);
  }

  83.25% {
    transform: translateX(1px);
  }

  100% {
      transform: translateX(0);
  }
}

.rss-link a:hover {
  animation-name: wobble-vertical;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.rss-link a:hover > i {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}