/** User-defined style. **/
{{- $P := .Site.Params -}}
.sidebar {
  visibility: inherit;
}

.site-author-image {
{{ if $P.avatar.rounded }}
  border-radius:50%;
{{ end }}
{{ if $P.avatar.rotated }}
  transition: transform 1s ease-out;
{{ end }}
}

.back-to-top {
  bottom: 30px;
}

.rss-link {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  text-align: center;
  margin: 10px 0 0 0;
}

.rss-link a {
  display: block;
  color: #fc6423;
  border-bottom: none;
}

.rss-link a:hover {
  font-weight: bold;
}