{{- define "main" }}
{{- $lang := .Scratch.Get "lang" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
{{- range $paginator.Pages }}
<div class="post-block">
  <article itemscope itemtype="http://schema.org/Article" class="post-content" lang="{{ $lang }}">
    <link itemprop="mainEntityOfPage" href="{{ .Permalink }}">
    <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="image" content="{{ .Site.Params.avatar.url }}">
      <meta itemprop="name" content="{{ .Params.author | default .Site.Params.author }}">
    </span>
    <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{ .Site.Params.author }}">
      <meta itemprop="description" content="{{ .Site.Params.description }}">
    </span>
    <span hidden itemprop="post" itemscope itemtype="http://schema.org/CreativeWork">
      <meta itemprop="name" content="{{ .Title }}">
      <meta itemprop="description" content="{{ .Description | default .Summary }}">
    </span>
    <header class="post-header">
      <h2 class="post-title" itemprop="name headline">
        {{/*- with .Sticky }}
        {{- if gt . 0 }}
        <span class="post-sticky-flag" title="{{ T "PostStickyTitle" }}">
          <i class="fa fa-thumbtack"></i>
        </span>
        {{- end }}
        {{- end */}}
        {{/*- if not (eq .Link "") }}
        <a href="{{ .Link }}" rel="noopener external nofollow noreferrer" target="_blank" class="exturl post-title-link post-title-link-external">{{ .Title }}</a>
        {{- else */}}
        <a href="{{ .Permalink }}" itemprop="url" class="post-title-link">{{ .Title }}</a>
        {{/*- end */}}
      </h2>
      <div class="post-meta-container">
        {{ partial "post_meta/created_date.html" . }}
        {{ partial "post_meta/update_date.html" . }}
        {{ partial "post_meta/categories.html" . }}
        {{ partial "post_meta/words.html" . }}
      </div>
    </header>
    <!-- POST BODY -->
    <div class="post-body" itemprop="articleBody">
      {{- if .Params.Expand }}
      {{ .Content }}
      {{- else }}
      {{ .Summary }}
      {{- end }}
    </div>
    <footer class="post-footer">
      {{- if and .Site.Params.readMoreBtn (not .Params.Expand) }}
      <div class="post-button">
        <a class="btn" href="{{ .Permalink }}#more" rel="contents">
          {{ T "PostReadMore" }} &raquo;
        </a>
      </div>
      {{- end }}
      <div class="post-eof"></div>
    </footer>
  </article>
</div>
{{- end }}
{{- partial "partials/pagination.html" . }}  
{{- end }}