.sidebar-toggle {
  bottom: 45px;
  height: 12px;
  padding: 6px 5px;
  width: 14px;
  @include sidebar-toggle();
}

.sidebar-toggle:hover .toggle-line {
  background: $sidebar-highlight;
}

@media (any-hover: hover) {
  body:not(.sidebar-active) .sidebar-toggle:hover {
    @include toggle-arrow($sidebar_position);
  }
}

.sidebar-active .sidebar-toggle {
  @include toggle-close($sidebar_position);
}
