{{ $title := .Site.Title }}
<div class="site-brand-container">
  <div class="site-nav-toggle">
    <div class="toggle" aria-label="{{ T "NavToggleLabel" }}" role="button">
        <span class="toggle-line"></span>
        <span class="toggle-line"></span>
        <span class="toggle-line"></span>
    </div>
  </div>

  <div class="site-meta">
    {{- if and .Site.Params.customLogo (eq .Site.Params.scheme "Muse") }}
      <img class="custom-logo-image" src="{{ .Site.Params.customLogo }}" alt="{{ $title }}">
    {{- end }}

    <a href="{{ "/" | relLangURL }}" class="brand" rel="start">
      <i class="logo-line"></i>
      <h1 class="site-title">{{ $title }}</h1>
      <i class="logo-line"></i>
    </a>
    {{ if isset .Site.Params "subtitle" }}
      <p class="site-subtitle" itemprop="description">{{ .Site.Params.subtitle }}</p>
    {{- end }}
    {{- if and .Site.Params.customLogo (or (eq .Site.Params.scheme "Gemini") (eq .Site.Params.scheme "Pisces"))}}
      <img class="custom-logo-image" src="{{ .Site.Params.customLogo }}" alt="{{ $title }}">
    {{- end }}
  </div>

  <div class="site-nav-right">
    <div class="toggle popup-trigger">
      {{ if or .Site.Params.algoliaSearch.enable .Site.Params.localSearch.enable }}
      <i class="fa fa-search fa-fw fa-lg"></i>
      {{- end }}
    </div>
  </div>
</div>