<span class="post-meta-item" title="{{ T "PostComments" }}">
  <span class="post-meta-item-icon">
    <i class="far fa-comments"></i>
  </span>
  <span class="post-meta-item-text" title="{{ T "PostMeta.comments" }}">
  {{ print (T "PostMeta.comments") (T "Symbol.colon") }}
  </span>
  <span id="comments-count" {{ if eq .Site.Params.postMeta.comments.plugin "waline" }}class="waline-comment-count"{{end}} data-path="{{ .RelPermalink | relLangURL }}">
    <i class="fa fa-sync fa-spin"></i>
  </span>
</span>