{{ if and .Site.Params.postMeta.updated.enable .Site.Params.postMeta.updated.anotherDay }}
{{ if and .Lastmod (gt .Lastmod .Date) }}
{{ $modTime := .Lastmod.Format .Site.Params.timeFormat }}
<span class="post-meta-item">
  <span class="post-meta-item-icon">
    <i class="far fa-calendar-check"></i>
  </span>
  <span class="post-meta-item-text" title="{{ T "PostMeta.lastmod.date" }}">
    {{ print (T "PostMeta.lastmod.date") (T "Symbol.colon") }}
  </span>
  <time title="{{ print (T "PostMeta.lastmod.time") (T "Symbol.colon") }}{{ $modTime }}" itemprop="dateModified" datetime="{{ $modTime }}">{{ .Lastmod.Format .Site.Params.dateFormat }}</time>
</span>
{{ end }}
{{ end }}