{{- $pageViewCls := "" }}
{{- if .Site.Params.leancloudVisitors.enable }}
{{- $pageViewCls = "leancloud-visitors-count" }}  
{{- end }}
{{- if .Site.Params.waline.pageView }}
{{- $pageViewCls = "waline-pageview-count" }}
{{- end }}
{{- if .Site.Params.busuanzi.postViews }}
{{- $pageViewCls = "busuanzi_value_page_pv" }}
{{- end }}
<span class="post-meta-item" title="{{ T "PostViews" }}">
  <span class="post-meta-item-icon">
    <i class="far fa-eye"></i>
  </span>
  <span class="post-meta-item-text">
  {{ print (T "PostViews") (T "SymbolColon") }}
  </span>
  <span class="{{ $pageViewCls }}" data-path="{{ .RelPermalink | relLangURL }}"><i class="fa fa-sync fa-spin"></i></span>
</span>
