{{ if .Site.Params.postMeta.views.enable }}
{{ $pageViewId := "" }}
{{ if eq .Site.Params.postMeta.views.plugin "leancloud" }}
{{ $pageViewId = "leancloud-visitors-count" }}  
{{ else if eq .Site.Params.postMeta.views.plugin "busuanzi" }}
{{ $pageViewId = "busuanzi_value_page_pv" }}
{{ end }}
<span class="post-meta-item" title="{{ T "PostMeta.views" }}">
  <span class="post-meta-item-icon">
    <i class="far fa-eye"></i>
  </span>
  <span class="post-meta-item-text">
  {{ print (T "PostMeta.views") (T "Symbol.colon") }}
  </span>
  <span {{ with $pageViewId }}id="{{ . }}"{{end}} {{ if eq .Site.Params.postMeta.views.plugin "waline" }}class="waline-pageview-count"{{end}} data-path="{{ .RelPermalink | relLangURL }}">
    <i class="fa fa-sync fa-spin"></i>
  </span>
</span>
{{ end }}